body{
  margin: 0;
  background-image: url("city_night.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.navbar{
height: 100px;
}

.container{
width: 80%;
margin: 0 auto;
}
header{
background: #939e6f;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo{
float: left;
}

nav{
float: right;
}
