body{
  margin: 0;
  background-image: url("city_night.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar{
height: 100px;
}

.container{
width: 80%;
margin: 0 auto;
}

header{
background: #fbb928;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo{
float: left;
}

nav{
float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}










